.rect {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 13em;
  margin-top: 50px;
}

.rectSt {
  width: 0.4em;
  height: 1.1em;
  background-color: #ef3075;
  animation: grow 1s -0.45s ease-in-out infinite;
}

.rectStt {
  width: 0.4em;
  height: 1.1em;
  background-color: #ef3075;
  animation: grow 1s -0.3s ease-in-out infinite;
}

.rectSttt {
  width: 0.4em;
  height: 1.1em;
  background-color: #ef3075;
  animation: grow 1s -0.15s ease-in-out infinite;
}

.rectStttt {
  width: 0.4em;
  height: 1.1em;
  background-color: #ef3075;
  animation: grow 1s ease-in-out infinite;
}



@keyframes grow {
  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(2);
  }
}
